package com.mysteel.oilchem.crm.domain;

import com.mysteel.config.common.domain.BaseDTO;
import lombok.Data;

/**
 * @version 1.0
 * @description: ${table.remark}
 * @projectName：v1sp46
 * @see: com.mysteel.oilchem.crm.entity
 * @author： ${author}
 * @createTime：${curTime}
 */
@Data
public class ${table.entityName}DTO extends BaseDTO {

	private static final long serialVersionUID = 1L;

    #foreach($fileld in ${table.fieldDOList})
    /**
     * @description: $fileld.remark
     * @author：${author}
     * @createTime：${curTime}
     */
    private $fileld.attributeType $fileld.parameterName;
    #end
}